# Core application dependencies
streamlit==1.42.0
python-dotenv==1.0.1

# CrewAI and related dependencies
crewai==0.100.1
crewai-tools==0.33.0
langtrace-python-sdk==3.5.1

# LangChain dependencies
langchain==0.3.17
langchain-core==0.3.33
langchain-openai==0.2.14

# OpenAI
openai==1.61.0

# Required utilities
pydantic==2.10.6
requests==2.32.3
pysqlite3-binary
